*{
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

ul,li{ padding:0;margin:0;list-style:none}

body{
	background-color: aliceblue;
}

#header{
	width: 100%;
	height: 40px;
	padding: 0;
	background-color: #0078A8;
	color: white;
}

#header-content{
	//max-width: 1600px;
	margin: auto;
	height: 100%;
}

#logo{
	float: left;
	color: white;
	padding: 9px 12px;
}

#export{
	width: 50px;
	height: 100%;
	float: left;
	padding: 8px;
	margin-left: 10px;
	background-color: #3388FF;
	cursor: pointer;
}

#export:hover{
	background-color: #FFA500;
}

#pos{
	width: 140px;
	text-align: right;
	padding-right: 20px;	
}

#workspace{
	height: 100%;
	margin-left: 50px;
	padding: 0.5rem;
	float: left;
}

#workspaceName{
	border-bottom: solid 1px darkblue;
	cursor: pointer;
}

.classItem{
	width: 86px;
	height: 100%;
	float:right;
	color: white;
	padding: 9px;
	cursor: pointer;
	overflow: hidden;
	#background-color: #FFA500;
	#border: solid 1px yellow;
	#border: none;
}

#main{
	width: 100%;
	height: calc(100% - 40px);
}

#main-left{
	width: 227px;
	height: 100%;
	float: left;
	padding-top: 10px;
	background-color: #BBBBBB;
}

#main-content{
	width: calc(100% - 227px);
	height: 100%;
	background-color: #3388FF;
	float: left;
}

#footer{
	width: 100%;
	height: 30px;
	background-color: #F0F8FF;
}

#map{
	width: 100%;
	height: 100%;
	cursor: crosshair;
	
}

#pos{
	float: right;
	margin: 8px;
	color: #F0F8FF;
}

/*图片列表*/
#imgItemHeader{
	//background-color: #0078A8;
	height: 30px;
	padding: 5px 10px;
	margin: 0;
}

#imgList{
	margin: 0;
	padding: 10px 5px;
	background-color: #F0F8FF;
	height: calc(100% - 30px);
	overflow: scroll;
}

.imgItem{
	margin-bottom: 5px;
	cursor: pointer;
	padding: 8px 16px;
	box-shadow: 5px 5px 15px #888888;
	background-color: #F0F8FF;
}

.wancheng{
	margin-left: 6px;
}

/*workspace选择对话框*/
#wsListDlg{
	width: 560px;
	height: 400px;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	color: white;
	background-color: white;
	display: none;
}
#ws-header{
	width: 100%;
	height: 40px;
	background-color: #0078A8;
}

#ws-header>h4{
	display: inline-block;
	margin-left: 16px;
	margin-top: 8px;
}

#ws-close{
	float: right;
	font-size: 20px;
	margin: 4px 14px;
	cursor: pointer;
}

#ws-content{
	width: 100%;
	height: 300px;
	overflow: scroll;
	padding: 10px;
	background-color: darkgray;
}

.ws-item{
	width: 100%;
	height: 40px;
	background-color: lightgrey;
	/*padding-left: 40px;*/
	margin-top: 2px;
	padding-top: 8px;
	/*border-bottom: #3399CC solid 1px;*/
	cursor: pointer;
}
.ws-item>div:first-child{
	width: 160px;
}
.ws-item>div{
	display: inline-block;
	margin-left: 50px;
}

#ws-footer{
	width: 100%;
	height: 60px;
	/*background-color: seagreen;*/
}

.ws-btn{
	width: 80px;
	height: 40px;
	float: right;
	color: #000000;
	background-color: #577EB2;
	padding: 8px 20px;
	margin: 10px 20px 10px 0;
	cursor: pointer;
}